<link rel="stylesheet" href="/stylesheets/style.css">
<link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/css/mdui.min.css"
        integrity="sha384-cLRrMq39HOZdvE0j6yBojO4+1PrHfB7a9l5qLcmRm/fiWXYY+CndJPmyu5FV/9Tw"
        crossorigin="anonymous"
/>
<link rel="stylesheet" href="/stylesheets/ddb.css">

<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/mdui.js"></script>
<script src="/javascripts/ajax.js"></script>
<title><%= title %></title>