<!DOCTYPE html>
<html>
  <head>
    <%- defineContent('title') %>
    <% include head %>
  </head>
  <body class="mdui-appbar-with-toolbar mdui-theme-primary-indigo">
    <% include header %>
    <%-body%>
  </body>
</html>
