<!DOCTYPE html>
<html>
  <head>
    <% include head %>
  </head>
  <body class="mdui-appbar-with-toolbar mdui-theme-primary-indigo">
    <% include header %>
    <div class="mdui-shadow-4 mdui-color-white mdui-p-a-3"><%-body%></div>

  </body>
</html>
