<button onclick="javascript:window.location = '/admin';" class="mdui-btn mdui-btn-raised mdui-color-indigo">返回</button>
<button onclick="javascript:window.location = '/admin/create';" class="mdui-btn mdui-btn-raised mdui-color-light-blue">新建文章</button>
<% if(articles.length <= 0){ %>
    <div class="mdui-typo-subheading-opacity">一篇文章也没有~~</div>
<% }else{ %>
    <form id="form">
        <h1>文章管理</h1>
        <div id="main">
        <%    for(value in articles){ %>
            <div class="mdui-list">
                <label class="mdui-list-item mdui-ripple">
                    <% if(right){ %>
                        <div class="mdui-checkbox">
                            <input name="<%= articles[value]['_id'] %>" type="checkbox"/>
                            <i class="mdui-checkbox-icon"></i>
                        </div>
                    <% } %>
                    <div class="mdui-list-item-content"><%= articles[value].name %> &nbsp;&nbsp;<a style="color: #00B7FF;" href="/articles/<%= articles[value]['_id'] %>">查看原文章</a></div>
                    <a href="javascript:edit('<%= articles[value]['_id'] %>');" mdui-tooltip="{content:'编辑文章'}" class="mdui-btn mdui-btn-icon"><i class="mdui-list-item-icon mdui-icon material-icons">settings</i></a>
                </label>
            </div>
        <% } %>
        </div>
        <iframe style="border:0;width: 100%;height: 0;" id="theeditor"></iframe>
    </form>
    <% if(right){ %>
        <button id="deleteBtn" onclick="delete_post()" class="mdui-btn">删除所选</button>
        <script>
            function setIframeHeight(iframe) {
                if (iframe) {
                    var iframeWin = iframe.contentWindow;
                    if (iframeWin.document.body) {
                        iframe.height = iframeWin.document.documentElement.scrollHeight || iframeWin.document.body.scrollHeight;
                    }
                }
            };
            document.getElementById('theeditor').onload = function () {
                setIframeHeight(document.getElementById('theeditor'));
            };

            function edit(id) {
                $.ajax({
                    type: 'post'
                    ,url: '/articles-edit/' + id
                    ,data: {}
                    ,success: function (res) {
                        $('#deleteBtn').html('');
                        $('#theeditor')[0].onload = function () {
                            setIframeHeight(document.getElementById('theeditor'));
                            let iframe = $('#theeditor')[0].contentWindow.document;
                            iframe.getElementById('name_text').value = res.name;
                            iframe.getElementById('category_text').value = res.category;
                            iframe.getElementById('image_text').value = res.image;
                            iframe.getElementById('edit_text').value = true;
                            iframe.getElementById('id_text').value = res._id;
                            iframe.getElementById('editor').getElementsByClassName('re-editor')[0].innerHTML = res.content;
                        };
                        $('#theeditor').css('height','');
                        $('#theeditor')[0].src = '/TGeditor-master/TGeditor-master/editor.html';
                        $('#main').html('');
                    }
                    ,error: function (res) {
                        alert(res);
                    }
                });
            }
            function delete_post() {
                let formData = $('#form').serializeArray();
                for(value in formData){
                    delete formData[value].value;
                    formData[value]._id = formData[value].name;
                    delete formData[value].name;
                }
                console.log(formData);
                $.ajax({
                    type: 'post'
                    ,url: '/articles/delete'
                    ,data: {
                        data: JSON.stringify(formData)
                    }
                    ,success: function (res) {
                        if(res.acknowledged){
                            mdui.alert("成功删除 " + res.count + "篇文章");
                            setTimeout(function () {
                                window.location = window.location.href;
                            },1500);
                        }
                        else {
                            mdui.alert('删除失败！');
                        }
                    }
                });
            }

        </script>
    <% } %>
<% } %>