<% if(!right){ %>
    <script>
        check();
        function check() {
            mdui.prompt('请输入管理员密码以验证', '权限验证',
                function (value) {
                    post_check(value);
                },
                function (value) {
                    mdui.alert('请验证管理员密码！');
                    check();
                }
            );
        }
        function post_check(value) {
             $.ajax({
                 type: 'post'
                 ,url: '/admin/identify'
                 ,data:{
                     password: value
                 }
                 ,success: function (res) {
                     res = JSON.parse(res);
                    if(res.right == true){
                        alert('验证成功！即将进入管理界面');
                        window.location = '/admin';
                    }
                    else {
                        alert('验证失败！请重试！');
                        check();
                    }

                 }
                 ,error: function (res) {
                     alert(res);
                 }
             });

        }
    </script>
<% }else{ %>
    <div class="mdui-tab" mdui-tab>
        <a href="#example1-tab1" class="mdui-ripple">web</a>
        <a href="#example1-tab2" class="mdui-ripple">shopping</a>
        <a href="#reviews" onclick="get_reviews()" class="mdui-ripple">评论管理</a>
    </div>
    <div id="example1-tab1" class="mdui-p-a-2">web content</div>
    <div id="example1-tab2" class="mdui-p-a-2">shopping content</div>
    <div id="reviews" class="mdui-p-a-2"></div>

    <script>
        function get_reviews() {
            $.ajax({
                type: 'post'
                ,url: '/admin/reviews'
                ,data: {}
                ,success: function (res) {
                    $('body').html(res);
                }
                ,error: function (res) {
                    alert(res);
                }
            });
        }

    </script>

<% } %>