<form action="/search" method="post">
    <div class="mdui-textfield">
        <i class="mdui-icon material-icons">search</i>
        <input name="query" class="mdui-textfield-input" type="text" placeholder="输入查询内容"/>
    </div>
</form>